---
interface Props {
	title: string;
}

const { title } = Astro.props;

import "@fontsource-variable/jost";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="title" content="Open Graphify" />
		<meta
			name="description"
			content="A powerful GraphQL server built with NestJS, along with a client-side playground for easy API exploration and testing."
		/>

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://opengraphify.vercel.app/" />
		<meta property="og:title" content="Open Graphify" />
		<meta
			property="og:description"
			content="A powerful GraphQL server built with NestJS, along with a client-side playground for easy API exploration and testing."
		/>
		<meta
			property="og:image"
			content="https://imageupload.io/ib/uXPmZvbCSGbP0dN_1696343824.png"
		/>

		<meta property="twitter:card" content="summary_large_image" />
		<meta
			property="twitter:url"
			content="https://opengraphify.vercel.app/"
		/>
		<meta property="twitter:title" content="Open Graphify" />
		<meta
			property="twitter:description"
			content="A powerful GraphQL server built with NestJS, along with a client-side playground for easy API exploration and testing."
		/>
		<meta
			property="twitter:image"
			content="https://imageupload.io/ib/uXPmZvbCSGbP0dN_1696343824.png"
		/>
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-GL8EBQ92BQ"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-GL8EBQ92BQ");
		</script>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	html {
		background: #303239;
		background-size: 224px;
		color: white;
		font-family: "Jost Variable", sans-serif;
	}
</style>
