---
interface Props {
	title: string;
	body: string;
	className?: string;
}

const { title, body, className } = Astro.props;
---

<div
	class=`p-2 flex flex-col text-center space-y-2 ${className}`
>
	<h2 class="font-bold md:text-lg">
		{title}
	</h2>
	<p class="md:text-base">
		{body}
	</p>
</div>
