---

---

<nav class="flex justify-between">
    <div class="max-w-6xl mx-auto w-full flex justify-between">
        <h1 class="text-center">
            Coded and maintained by <a
                href="https://github.com/nainglinnphyo"
                class="underline">Naing Linn Phyo</a
            > © 2023
        </h1>
    </div>
</nav>
