---
import { Icon } from "astro-icon";
---

<nav class="flex justify-between">
    <div class="max-w-6xl mx-auto w-full flex justify-between">
        <div class="flex p-4 space-x-2">
            <h1 class="hidden md:block md:text-lg">
                <a href="/">Open Graphify</a>
            </h1>
            <h1 class="flex md:hidden md:text-lg text-base">
                <a href="/">OG</a>
            </h1>
        </div>
        <div class="flex">
            <ul class="flex p-4 space-x-4 md:text-lg text-base">
                <li><a href="/docs">Docs</a></li>
                <li><a href="/guide">Guide</a></li>
                <li><a href="/discussions">Discussions</a></li>
                <li class="flex items-center">
                    <a href="/github" title="github">
                        <Icon name="mdi:github" width="20" high="20" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
